# Open VS Code in current directory
alias code="code ."

# Shortcuts & MoJ
export dev=~/code/
export personal=~/code/personal
export work=~/code/work
export digideps=~/code/work/opg-digideps
export serve=~/code/work/serve-opg
alias back="cd -"

# Make commands
alias msdl="make stop && make debug && make logs"
alias mssl="make stop && make start && make logs"
alias mss="make stop && make start"
alias msl="make start && make logs"
alias ms="make start"
alias md="make debug"
alias ml="make logs"
alias mstop="make stop"
alias mint="make integration-test"
alias mrdf="make reset-database reset-fixtures"

# Suffix
alias -s {cs,html,js,ts,css,scss,md,json}=code

# Laravel
alias pa="php artisan"

# Docker
COMPOSE="docker-compose"
DOCKER="docker"
alias dcu="$COMPOSE up"
alias dcb="$COMPOSE build"
alias dcd="$COMPOSE down"
alias db="$DOCKER build ."
alias dl="$DOCKER pull"
alias dps="$DOCKER ps"
alias de="$DOCKER exec"
alias dc="$DOCKER"
alias dstop="$DOCKER stop $(docker ps -aq)"

# Kubernetes
KUBE="kubectl"
alias kapply="$KUBE apply -f"
alias kgservice="$KUBE get service"
alias kgpod="$KUBE get pod"

# System
alias update="brew update && brew upgrade && brew cleanup && brew doctor"
alias sudo="sudo "

# Git
alias gamend="git commit --amend 'S'"

# MoJ Specific Git
alias gcdp="git gcdp"
alias gbdp="git checkout main && git gbdp"
alias gbdpd="git gbdpd"
alias gbser="git checkout master && git gbser"
alias gcser="git gcser"

# AWS
alias avei='aws-vault exec identity'

# Get week number
alias week="date +%V"
alias weather="curl wttr.in"
