[user]
    name = Stephen Hinett
    email = me@stephenhinett.co.uk
    signingkey = 5BE66B9402D18339
[core]
    excludesFile = ~/.gitignore
    editor = /usr/bin/vim
[filter "lfs"]
    required = true
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
[commit]
    gpgsign = true
